snippet pry
	binding.pry
snippet class
	class ${1:ClassName}
	end
snippet module
	module ${1:ModuleName}
	end
snippet include
	include ${1:ModuleName}
snippet extend
	extend ${1:ModuleName}
snippet ise
	it { is_expected.to ${1:be} }
snippet describe
	describe ${1:Class} do
	end
snippet context
	context ${1:'condition'} do
	end
snippet subject
	subject { ${1:object} }
snippet before
	before { ${1:action} }
